@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');

* {
    font-family: 'Anek Latin', sans-serif;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: inset 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 40%;
}

.itemInput {
    font-size: 2rem;
    margin: 10px 0;
    width: 100%;
}

.submitButton {
    background: var(--button-color);
    border-radius: 10px;
    border: white;
    color: white;
    padding: 8px;
    transition: all 0.1s;
    width: 40%;
}

.submitButton:active {
    transform: scale(0.98);
}

select {
    margin: 5px 0 10px 0;
    outline: none;
}

option, label {
    margin: 0;
    padding: 0;
}

.low {
    background: rgba(0, 255, 0, 0.5);
}

.moderate {
    background: rgba(230, 230, 25, 0.5);
}

.high {
    background: rgba(255, 99, 71, 0.5)
}

.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wrapper span {
    padding-right: 5px;
}

.wrapper span, .submitButton, option, label, select {
    font-size: 1.5rem;
}

/*========== MEDIA QUERIES ==========*/

@media screen and (max-width: 1024px) {
    .submitButton {
        width: 100%;
    }

    .wrapper span {
        display: none;
    }

}

