@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');
*{
    font-family: 'Anek Latin', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    heigth: 100vh;
}
.container {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding: 10px;
    width: 40%;
    box-shadow: inset 0 0 5px black;
}
.itemInput {
    width: 100%;
    margin: 10px 0;
    font-size: 2rem;
}
.submitButton{
    border-radius: 10px;
    border: white;
    background: mediumpurple;
    color: white;
    font-size: 1.5rem;
    width: 40%;
    padding: 8px;
}
select {
    margin: 5px 0 10px 0;
    font-size: 1.5rem;
    outline: none;
}
option, label{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.low{
    background: rgba(102, 255, 102,0.5);
}
.moderate{
    background: rgba(255, 255, 102,0.5)
}
.high{
    background: rgba(255, 99, 71,0.5)
}



