@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');

*{
  box-sizing: border-box;
}
body {
  background: #1f1f1f;
  margin: 0;
  padding: 0;
}
:root{
  --button-color: mediumpurple;
  --font: 'Anek Latin', sans-serif;
}