@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: var(--font);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    align-items: center;
    border-radius: 10px;
    border: transparent;
    box-shadow: inset 0 0 5px black;
    display: flex;
    font-size: 1.5rem;
    min-height: 2em;
    list-style: none;
    margin: 30px 0;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.todoCard {
    padding: 0;
}

.deleteButton {
    right: 5px;
    position: absolute;
    background: none;
    border: none;
    color: darkred;
    cursor: pointer;
    font-size: 1em;
}

.low {
    box-shadow: inset 0 0 10px green;
}

.moderate {
    box-shadow: inset 0 0 10px rgb(230, 230, 25);
}

.high {
    box-shadow: inset 0 0 10px rgb(255, 99, 71)
}

.low, .moderate, .high {
    background: rgba(208, 208, 225, 0.3)
}

/*========== MEDIA QUERIES ==========*/

@media screen and (max-width: 768px) {
    li {
        font-size: 1rem;
        padding: 1rem 10px;
    }
}